html {
    overflow-x: hidden;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: red;*/
    height: 100%; width: 100%;
    /*background-color: grey;*/
    position: fixed;
    background: url("../images/concertincamp_large.jpg") no-repeat center center;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
}

.container-formulaire {
    text-align: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;

}
.selectPro {
    width: 50%;
    height: 40px;
}

.form-check-input {
    width: 80%;
    height: 40px;
    font-size: 30px;
}

.partform {
    margin-top: 20px;
}

.buttonpro {
    margin-top: 30px;
}