.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: red;*/
    height: 100%; width: 100%;
    /*background-color: grey;*/
    position: fixed;
    background: url("../images/concertincamp_large.jpg") no-repeat center center;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
}