/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Ubuntu:300,400,500');

html {
    overflow-x: hidden;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: red;*/
    height: 100%;
    width: 100%;
    /*background-color: grey;*/
    position: fixed;
    background: url("../images/concertincamp_large.jpg") no-repeat center center;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
}

.container-formulaire {
    text-align: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

input {
    padding-left: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;

}

.labelform {
    color: white;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.container-formulaire:before {
    content: "";
    position: fixed;
    height: 100%; width: 100%;
    /*background-color: grey;*/
    /*background: url("https://image.freepik.com/photos-libre/main-en-utilisant-un-ordinateur-portable-dans-un-cafe_1170-2350.jpg") no-repeat center center;*/
    background: url('../images/backpro2.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    -webkit-filter: blur(5px);
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover;
}
.container-buttonsend {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.footer {
    height: auto;
    display: flex;
    align-self: center;
    font-size: 20px;
    background: #9799af;
    border-radius: 5px;
    color: white;
}

.boutonenvoyer {
    background: #9799af;
    border-radius: 5px;
    padding: 8px 80px 8px 80px;
    border: none;
}

.container-buttonsend:before {
    content: "";
    position: fixed;
    height: 20vh;
    width: 100%;
    /*background-color: grey;*/
    /*background: url("https://image.freepik.com/photos-libre/main-en-utilisant-un-ordinateur-portable-dans-un-cafe_1170-2350.jpg") no-repeat center center;*/
    background: url('../images/backpro2.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    -webkit-filter: blur(5px);
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover;
}

.selectPro {
    width:90%;
    height: 40px;
    font-size: 25px;
}

.form-control {
    display: inline;
}

.form-check-input {
    width: 90%;
    height: 40px;
    font-size: 30px;
    border: 1px solid #ccd0d2;
    border-radius: 5px;
}

.partform {
    margin-top: 20px;
}

.buttonpro {
    padding-top: 8px;
    margin-top: 80px;
    height: 50px;
    font-size: 20px;
    background: #9799af;
    border-radius: 5px;
    color: white;
}
.buttonpro:hover {
text-decoration: none;
color: white;
}


.buttonpro:visited {
    color:white;
    text-decoration: none;
}

.containerMap {
    background: white;
    height: 80vh;
    /*width: 90vw;*/
}

.containerButton {
    height: 100px;


}

.buttondiv {
    background-color: white;
    display: flex;
    height: auto;
    justify-content: center;
}

.buttondiv>button {
    margin: 10px;
    border: none;
}

.container-user {
    padding-top: 5em;
}

.dropdown,
.table {
    text-transform: capitalize;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
{
#inputtest {
    margin-bottom: 40px;
}

}




/*.containerButton {
    margin-top: 40px;
    padding-top: 100px;
    height: 100px;
}*/
